In [4]:
import pandas as pd
import sqlalchemy as db

In [5]:
engine = db.create_engine("mysql://root:root@10.0.0.65:3310/retail_db")
conn = engine.connect()

In [6]:
df_customers = pd.read_sql_table('customers', engine)
df_orders = pd.read_sql_table('orders', engine)
df_order_items = pd.read_sql_table('order_items', engine)
df_products = pd.read_sql_table('products', engine)
df_categories = pd.read_sql_table('categories', engine)
df_departments = pd.read_sql_table('departments', engine)

In [7]:
#Numero de clientes
total_clientes = df_customers['customer_id'].nunique()
print(total_clientes)

12435

In [8]:
#Distribucion de clientes
cliente_x_state = df_customers['customer_state'].value_counts()
print(cliente_x_state)

customer_state
PR    4771
CA    2012
NY     775
TX     635
IL     523
FL     374
OH     276
PA     261
MI     254
NJ     219
AZ     213
GA     169
MD     164
NC     150
VA     136
CO     122
OR     119
MA     113
TN     104
NV     103
MO      92
HI      87
CT      73
NM      73
WA      72
UT      69
WI      64
LA      63
DC      42
SC      41
IN      40
MN      39
KY      35
KS      29
DE      23
OK      19
WV      16
RI      15
ND      14
AR      12
ID       9
MT       7
IA       5
AL       3
Name: count, dtype: int64

In [10]:
df_customers['customer_city'].value_counts()

customer_city
Caguas           4584
Chicago           274
Brooklyn          225
Los Angeles       224
New York          120
                 ...
Hempstead           3
Freehold            2
Ponce               2
National City       2
Gwynn Oak           2
Name: count, Length: 562, dtype: int64

In [11]:
df_categories.groupby('category_department_id')['category_id'].count()

category_department_id
2     8
3     8
4     6
5     7
6    12
7     7
8    10
Name: category_id, dtype: int64

In [12]:
distribucion = df_categories.merge(df_departments, left_on='category_department_id', right_on='department_id')
distribucion['department_name'].value_counts()

department_name
Outdoors    12
Fitness      8
Footwear     8
Golf         7
Fan Shop     7
Apparel      6
Name: count, dtype: int64

In [14]:
#Producto mas caro
print("producto mas caro")
print(df_products.loc[df_products['product_price'].idxmax()])
#producto mas barato
print("\nproducto mas barato")
print(df_products.loc[df_products['product_price'].idxmin()])

producto mas caro
product_id                                                           208
product_category_id                                                   10
product_name                                         SOLE E35 Elliptical
product_description
product_price                                                    1999.99
product_image          http://images.acmesports.sports/SOLE+E35+Ellip...
Name: 207, dtype: object

producto mas barato
product_id                                                            38
product_category_id                                                    3
product_name               Nike Men's Hypervenom Phantom Premium FG Socc
product_description
product_price                                                        0.0
product_image          http://images.acmesports.sports/Nike+Men%27s+H...
Name: 37, dtype: object

In [15]:
df_departments.to_csv('prueba.csv')

In [17]:
#Cuales son los productos mas comprados por cada cliente
productos_x_clientes = df_order_items.merge(df_orders, left_on='order_item_order_id', right_on='order_id')
productos_x_clientes = productos_x_clientes.groupby(['order_customer_id','order_item_product_id'])['order_item_quantity'].sum().reset_index()
productos_x_clientes.loc[productos_x_clientes.groupby('order_customer_id')['order_item_quantity'].idxmax()]

       order_customer_id  order_item_product_id  order_item_quantity
0                      1                    191                    5
6                      2                   1014                    7
10                     3                    365                   13
17                     4                    365                   19
27                     5                   1014                    6
...                  ...                    ...                  ...
92839              12431                    502                   22
92855              12432                   1014                   19
92859              12433                    627                   11
92866              12434                    502                   10
92870              12435                    191                    5

[12331 rows x 3 columns]

In [22]:
#Promedio de ingreso por dia
df_promedio = df_orders.merge(df_order_items, left_on='order_id', right_on='order_item_order_id', how='left')
df_promedio[['order_id','order_date','order_item_subtotal']].drop_duplicates()\
.groupby('order_date').sum()['order_item_subtotal'] / df_promedio[['order_date','order_item_order_id']].drop_duplicates()\
.groupby('order_date').count()['order_item_order_id']

order_date
2013-07-25    548.313017
2013-07-26    547.643219
2013-07-27    531.000286
2013-07-28    519.895443
2013-07-29    590.545833
                 ...
2014-07-20    539.775950
2014-07-21    554.769455
2014-07-22    572.947692
2014-07-23    601.890145
2014-07-24    550.647152
Length: 364, dtype: float64